<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Author</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/add_author.css') }}">
</head>


  <header class="header">
    <h1>Library</h1>
    <nav>
      <button type="button" onclick="location.href='{{ url_for('main.index') }}'">← Back to Home</button>
    </nav>
  </header>

  <main>
    <h2 class="form-title">Add New Author</h2>

    <form action="{{ url_for('authors.add_author') }}" method="POST">
      <div class="form-group">
        <label for="name">Author Name:</label>
        <input type="text" id="name" name="name" required>
      </div>

      <div class="form-group">
        <label for="birthdate">Birthdate:</label>
        <input type="date" id="birthdate" name="birthdate" required>
      </div>

      <div class="form-group">
        <label for="date_of_death">Date of Death:</label>
        <input type="date" id="date_of_death" name="date_of_death">
      </div>

      <input type="submit" value="Add Author">
    </form>
  </main>
  <script src="{{ url_for('static', filename='js/add_author.js') }}"></script>
</body>
</html>
